.players {
    background-color: #007fff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 700px;
    border-radius: 10px;
    padding-left: 20px;
    margin:auto;
    margin-top: 50px;
    padding: 5px;
    padding-left: 20px;
}

.players-container{
    background-color: #d5eaff;
    width: 700px;
    margin: auto;
}

.btn{
    background-color: #1e4976;
}