.new-tournament-title{
    background-color: #007fff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 420px;
    border-radius: 10px;
    padding-left: 20px;
    margin:auto;
    margin-top: 50px;
    padding: 5px;
    padding-left: 20px;
}

.input-container{
    height: 220px;
    width:420px;
    margin: auto;
    background-color: #1e4976;
    padding: 20px;
}

.new-tournament-btn-con{
    display: flex;
    margin-top: 30px;
    margin-left: 20%;
}